<li> 
  <a href="{{ .Params.externalLink | default .RelPermalink }}">
    <div class="bg"></div>
    <div class="content-wrap">
      <div class="content">
        <span class="title">{{ .Title }}</span>
        <div class="tags">
          {{ range .Params.tags }}
            <span class="tag">{{ . }}</span>
          {{ end }}
        </div>
        <span class="desc">{{ .Params.shortDescription }}</span>
      </div>
    </div>
  </a>
</li>

<!--li>
  <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
  <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
</li-->
