@mixin content_dark {

  .content {
  
    .list {
      ul {
        li {
          a {
            .list-item-wrapper {
              background: -webkit-gradient(linear, left bottom, left top, from($alt-bg-color-dark), to(rgba(0, 0, 0, 0)));
            }
            .list-item-content {
              color: $fg-color-dark;
              .title {
                color: $fg-color-dark;
                &:hover,
                &:focus {
                  color: $link-color-dark;
                }
              }
            }
          }
        }
      }
    }

    .grid {
      ul {
        li {
          a {
            .content-wrap {
              background: -webkit-gradient(linear, left bottom, left top, from($alt-bg-color-dark), to(rgba(0, 0, 0, 0)));
            }
            .title {
              color: $fg-color-dark;
            }
            .content {
              color: $fg-color-dark;
            }
          }
        }
      }
    }

    .centered {
      .about {
        ul {
          li {
            a {
              color: $fg-color-dark;
              &:hover,
              &:focus {
                color: $link-color-dark;
              }
            }
          }
        }
      }
    }
  }

}

body.colorscheme-dark {
  @include content_dark()
}

body.colorscheme-auto {
  @media (prefers-color-scheme: dark) {
    @include content_dark()
  }
}
